// color
$border:  #dbdbdb;
$fb_color: #385185;
$lightBlue: #0095f6;
$text_grey: #8e8e8e;

.main_container {
    position: relative;
    margin: 0 auto;
    padding-top: 30px;
    max-width: 935px;
    border-radius: 3px;

    .main_left {
        display: flex;
        flex-direction: column;
        margin-right: 28px;
        max-width: 614px;
        width: 100%;

        .user_container {
            margin: 0 0 24px;
            padding: 16px 0;
            border: 1px solid $border;
            border-radius: 3px;

            .user_lists {
                position: relative;
                width: 98%;
                height: 84px;
                padding-left: 10px;
                display: flex;
                overflow: hidden;

                div {   
                    width: 100%;   
                    margin: 0;
                    padding-right: 10px;

                    img {
                        width: 64px;
                        height: 64px;
                        padding: 2px; 
                        border: 2px solid #c42d91;
                        border-radius: 50%;
                    }

                    p {
                        margin: 2px;
                        letter-spacing: .01em;
                        font-size: 12px;
                        line-height: 3px;
                    }
                }
            }
        }

        /* 전체 세로 (좌) */
        .feeds {
            display: flex;
            flex-direction: column;
            width: 614px;
            height: auto;
                
            /* 반목문 frame */
            .feeds_container {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 615px;
                margin-bottom: 50px;
                border: 1px solid $border;
                border-radius: 5px;
                
                article {
                    position: absolute;
                    top: 0; 
                    left: 0;
                    width: 100%;

                    .id_info {
                        display: flex;
                        height: 28px;
                        padding: 16px;
                        border-bottom: 1px solid $border;

                        img {
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                        }

                        p {
                            font-size: 12px;
                        }

                        .id_info_user {
                            display: flex;
                            flex-direction: column;
                            margin: 0;
                            padding: 0;
                            padding-left: 20px;

                            p {
                                margin: 0;
                                text-align: left;
                            }
                        }
                    }

                    .img_info {
                        width: 100%;
                        height: 400px;

                        img {
                            width: 100%;
                            height: 100%;
                            border: 0;
                        }
                    }

                    .review_info {              
                        display: flex;
                        flex-direction: column;
                        background-color: #ffffff;

                        .icons {
                            display: flex;
                            justify-content: space-between;
                            margin-top: 5px;

                            .icons_left {
                                display: flex;

                                div {
                                    width: 30px;
                                    height: 30px; 
                                    margin-right: 10px;
                                    margin-bottom: 10px;
                                    background-size: 300px;
                                    cursor: pointer;
                                }
                                .heart {
                                    margin-left: 10px;
                                    background-image: url('../../image/instagram-icons.png');
                                    background-position: 13% 20%;
                                }
                                .review {
                                    background-image: url('../../image/instagram-icons.png');
                                    background-position: 28% 20%;
                                }
                                .message {
                                    background-image: url('../../image/instagram-icons.png');
                                    background-position: 42% 20%;
                                }
                            }

                            .icons_right {
                                
                                margin-right: 5px;

                                .save {
                                    width: 30px;
                                    height: 30px; 
                                    margin-right: 10px;
                                    background-size: 300px;
                                    background-image: url('../../image/instagram-icons.png');
                                    background-position: 56% 20%;
                                }
                            }
                        }

                        .reviews {
                            display: flex;
                            flex-direction: column;

                            p {
                                margin: 5px;
                                padding-left: 10px;
                                text-align: left;
                            }

                            .users_reviews {
                                height: auto;
                            }
                        }

                        .write {
                            display: flex;
                            width: 100%;
                            margin-top: 20px;
                            border-top: 1px solid rgb(224, 221, 221);
                        
                            input {
                                position: relative;
                                border: 0;
                                width: 100%;
                                outline: 0;
                                padding: 20px;   
                                padding-left: 50px;                                
                            }

                            .smile {
                                position: absolute;
                                top: -100px;
                                left: 5px;
                                width: 35px;
                                height: 35px; 
                                margin-right: 10px;
                                background-size: 50px;
                                background-image: url('../../image/smile.jpeg');
                                background-position: center;
                                background-color: transparent;
                            }

                            .btn {
                                width: 100px;
                                max-height: 80px;
                                height: 50px;
                                color: $lightBlue;
                                background-color: transparent;
                                border: 0;
                                text-align: center;
                                text-overflow: ellipsis;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 18px;
                                opacity: .3;
                                cursor: pointer;
                            }

                            button:hover {
                                font-weight: 700;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }     
    }

    .main_right {
        position: absolute;
        top: 30px;
        right: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        max-width: 293px;
        width: 100%;
        height: 100vh;
        margin-bottom: 30px;

        .myInfo {
            position: relative;
            display: flex;
            height: auto;
            margin-bottom: 10px;
            margin-top: 18px;

            img {
                margin-right: 12px;
                width: 66px;
                height: 66px;
                border-radius: 50%;
            }

            .myId {
                margin-top: 10px;
                font-size: 14px;
                p {
                    margin: 0;
                    text-align: left;
                }

                .myName {
                    margin-top: 5px;
                    color: $text_grey;
                }
            }
            span {
                position: absolute;
                top: 20px;
                right: 0;
                color: $lightBlue;
                font-weight: 900;
                font-size: 12px;
            }
        }

        .recommend {

            .title {
                display: flex;
                justify-content: space-between;
                margin-top: 8px;

                span {
                    color: $text_grey;
                    font-weight: 900;
                    font-size: 14px;
                }

                .all {
                    color: black;
                    font-size: 12px;
                }
            }

            .contents {
                position: relative;
                display: flex;
                flex-direction: column;
                margin-top: 15px;
                height: 235px;
                overflow: hidden;

                .user_contents {
                    display: flex;
                    margin-bottom: 15px;

                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                    }

                    p {
                        margin: 0;
                        padding-left: 10px;
                        text-align: left;
                        font-size: 12px;
                    }
                    span {
                        position: absolute;
                        right: 0;
                        color: $lightBlue;
                        font-weight: 900;
                        font-size: 12px;
                    }
                }
            }
        }

        .side_info {
            margin-top: 10px;
            color: $text_grey;
            text-align: left;
            font-size: 11px;
        }
    }
}