// color
$border:  #dbdbdb;
$fb_color: #385185;
$lightBlue: #0095f6;
$text_grey: #8e8e8e;

.main_container {
    position: relative;
    margin: 0 auto;
    padding-top: 30px;
    max-width: 935px;
    border-radius: 3px;

    .main_left {
        display: flex;
        flex-direction: column;
        float: left;
        margin-right: 28px;
        max-width: 614px;
        width: 100%;

        .user_container {
            margin-bottom: 24px;
            margin-top: 0;
            padding: 16px 0;
            border: 1px solid $border;
            border-radius: 3px;

            .user_lists {
                position: relative;
                height: 50px;
                display: flex;
                // justify-content: space-evenly;
                list-style: none;

                li {
                    position: absolute;
                    top: -20px;               
                    margin: 0;
                    padding: 0;
                    img {
                        width: 66px;
                        height: 66px;
                        padding: 2px; 
                        border: 2px solid #c42d91;
                        border-radius: 50%;
                    }

                    p {
                        margin: 0;
                        letter-spacing: .01em;
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
            }
        }

        .feeds {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            width: 614px;
            height: 605px;
            border: 1px solid $border;

            .feeds_form {
                display: flex;
                flex-direction: column;
                list-style: none;
                margin: 0;
                padding: 0;
                
                .feeds_container {
                    position: relative;
                    
                    article{
                        position: absolute;
                        top: 0;
                        left: 0;;
                        width: 616px;

                        .id_info {
                            position: relative;
                            display: flex;
                            height: 30px;
                            padding: 16px;
                            border-bottom: 1px solid $border;

                            img {
                                position: absolute;
                                top: 13px;
                                left: 10px;
                                width: 42px;
                                height: 42px;
                                border-radius: 50%;
                            }

                            p {
                                font-size: 12px;
                            }

                            .id_info_user {
                                display: flex;
                                flex-direction: column;
                                margin: 0;
                                margin-left: 20px;
                                padding: 0;
                                padding-left: 30px;

                                p {
                                    margin: 0;
                                }
                            }
                        }

                        .img_info {
                            position: relative;
                            width: 100%;

                            img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 99.8%;
                                height: 400px;
                                background-image: url('../../image/profile_img.jpg');
                                background-position: center;
                                background-size: contain;
                                border-bottom: 1px solid $border;
                            }
                        }

                        .review_info {
                            position: absolute;
                            top: 470px;
                            display: flex;
                            flex-direction: column;
                            height: 241px;

                            .icons {
                                display: flex;
                                justify-content: space-between;

                                .icons_left {
                                    display: flex;
                                    div {
                                        width: 30px;
                                        height: 30px; 
                                        margin-right: 10px;
                                        margin-bottom: 10px;
                                        background-size: 300px;
                                        cursor: pointer;
                                    }
                                    .heart {
                                        margin-left: 10px;
                                        background-image: url('../../image/instagram-icons.png');
                                        background-position: 13% 20%;
                                    }
                                    .review {
                                        background-image: url('../../image/instagram-icons.png');
                                        background-position: 28% 20%;
                                    }
                                    .message {
                                        background-image: url('../../image/instagram-icons.png');
                                        background-position: 42% 20%;
                                    }
                                }

                                .icon_right {
                                    .save {
                                        width: 30px;
                                        height: 30px; 
                                        margin-right: 10px;
                                        background-size: 300px;
                                        background-image: url('../../image/instagram-icons.png');
                                        background-position: 28% 20%;
                                    }
                                }
                            }

                            .reviews {
                                display: flex;
                                flex-direction: column;

                                p {
                                    margin: 5px;
                                    padding-left: 10px;
                                    text-align: left;
                                }

                                .users_reviews {
                                    height: auto;
                                }
                            }

                            .write {
                                display: flex;
                                justify-content: space-between;
                                width: 616px;
                                margin-top: 4px;
                                border-top: 1px solid $border;

                                input {
                                    padding-left: 16px;
                                    padding-right: 16px;
                                    width: 100%;
                                    height: 56px;
                                    border: 0;
                                    font-size: 14px;
                                }

                                button {
                                    margin: 4px;
                                    padding: 0;
                                    width: 80px;
                                    color: $lightBlue;
                                    background-color: #ffffff;
                                    font-weight: 600;
                                    border: 0;
                                    opacity: .3;
                                    cursor: pointer;
                                }

                                button:hover {
                                    font-weight: 700;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .main_right {
        position: absolute;
        top: 30px;
        right: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        max-width: 293px;
        width: 100%;
        height: 100vh;
        margin-bottom: 30px;

        .myInfo {
            position: relative;
            display: flex;
            height: auto;
            margin-bottom: 10px;
            margin-top: 18px;

            .myImg {
                margin-right: 12px;
                width: 66px;
                height: 66px;
                background-image: url('../../image/profile_img.jpg');
                background-size: cover;
                border-radius: 50%;
            }

            .myId {
                margin-top: 10px;
                font-size: 14px;
                p {
                    margin: 0;
                    text-align: left;
                }

                .myName {
                    margin-top: 5px;
                    color: $text_grey;
                }
            }
            span {
                position: absolute;
                top: 20px;
                right: 0;
                color: $lightBlue;
                font-weight: 900;
                font-size: 12px;
            }
        }

        .recommend {

            .title {
                display: flex;
                justify-content: space-between;
                margin-top: 8px;

                span {
                    color: $text_grey;
                    font-weight: 900;
                    font-size: 14px;
                }

                .all {
                    color: black;
                    font-size: 12px;
                }
            }

            .contents {
                position: relative;
                display: flex;
                flex-direction: column;
                margin-top: 15px;

                .user_contents {
                    display: flex;
                    margin-bottom: 15px;

                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                    }

                    p {
                        margin: 0;
                        padding-left: 10px;
                        text-align: left;
                        font-size: 12px;
                    }
                    span {
                        position: absolute;
                        right: 0;
                        color: $lightBlue;
                        font-weight: 900;
                        font-size: 12px;
                    }
                }
            }
        }

        .side_info {
            margin-top: 15px;
            color: $text_grey;
            text-align: left;
            font-size: 11px;
        }
    }
}