// color
$border:  #dbdbdb;
$fb_color: #385185;
$lightBlue: #0095f6;

.main_container {
    margin: 0 auto;
    padding-top: 30px;
    max-width: 935px;
    border: 1px solid red;

    .main_left {
        display: flex;
        flex-direction: column;
        float: left;
        margin-right: 28px;
        max-width: 614px;
        width: 100%;

        .user_lists {
            border: 1px solid $border;
        }
    }

    .main_right {
        position: fixed;
        top: 88px;
        left: 872.5px;
        right: 0;
        max-width: 293px;
        width: 100%;
        border: 1px solid blue;
    }
}