@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

// color
$border:  #dbdbdb;
$fb_color: #385185;
$lightBlue: #0095f6;

body {
    box-sizing: border-box;
    margin: 0;
    background-color: #fafafa;
    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 710px;
        margin: auto;
        
        .signin {
            width: 100%;
            height: 380px;
            margin: 0 0 10px;
            padding: 10px 0;
            background-color: #ffffff;
            border: 1px solid $border;

            h1 {
                margin: 22px auto 12px;
                font-size: 35px;
                font-family: 'Lobster', cursive, sans-serif;
            }

            .info {
                display: flex;
                flex-direction: column;
                margin: 38px 0 0;

                input {
                    margin: 0 40px 6px;
                    padding: 14px 0 8px 8px;
                    background-color: #e8f0fe;
                    border: $border;
                    border-radius: 3px;
                }

                button {
                    margin: 8px 40px;
                    padding: 8px;
                    color: #ffffff;
                    background-color: $lightBlue;
                    border: 0;
                    border-radius: 3px;
                }
            }
            p {
                margin: 10px 40px 18px;
                font-size: 13px;
            }

            .fbLogin {
                .fb {
                    color: $fb_color;
                }
            }
        }

        .signup {
            width: 100%;
            height: 63px;
            margin: 0 0 10px;
            padding: 10px 0;
            background-color: #ffffff;
            border: 1px solid $border;
        }
    }
}
