@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

// color
$border:  #dbdbdb;
$fb_color: #385185;
$lightBlue: #0095f6;

body {
    box-sizing: border-box;
    margin: 0;
    background-color: #fafafa;

    .nav {
        width: 100%;
        height: 54px;
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;

        .navContainer {
            display: flex;
            justify-content: space-between;
            width: 974px;
            padding: 10px 20px;
            margin: auto;

            h4 {
                margin: auto 0;
                font-size: 30px;
                font-family: 'Lobster', cursive, sans-serif;
            }

            .search {
                display: flex;

                span {
                    position: relative;
                    top: 3px;
                    left: 80px;
                    width: 25px;
                    height: 25px; 
                    color: $border;
                    background-image: url('../../image/instagram-icons.png');
                    background-size: 200px;
                    background-position: 85% 20%;
                }
                input {
                    justify-content: center;
                    width: 215px;
                    height: 28px;
                    padding: 7px auto;
                    border: 1px solid $border;
                    border-radius: 3px;
                    text-align: center;
                }
            }

            .icons {
                display: flex;

                span {
                    width: 30px;
                    height: 30px; 
                    margin-right: 20px;
                    background-size: 300px;
                    cursor: pointer;

                    ul {
                        display: none;
                        width: 100px;
                        height: auto;
                        padding: 10px 0;
                        border: 0;
                        position: absolute;
                        top: 30px;
                        left: -30px;
                        list-style: none;

                        ul:hover li {
                            display: block;
                            padding: 3px;

                            li:hover{
                                display: block;
                            }
                        }
                    }

                }
                .home {
                    background-image: url('../../image/instagram-icons.png');
                    background-position: 0% 48%;
                }
                .message {
                    background-image: url('../../image/instagram-icons.png');
                    background-position: 44% 20%;
                }
                .like {
                    background-image: url('../../image/instagram-icons.png');
                    background-position: 13% 20%;
                }
                .myPage {
                    position: relative;
                    background-image: url('../../image/instagram-icons.png');
                    background-position: 72% 20%;
                }

                .myPage:hover ul{
                    display: block;
                }

            }
        }
    }
}